<div class="panel-body">
    <div class="col-md-6 offset-md-3">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <h1>Agregue su Proyecto</h1>
                <br>
                <br>
                <div>
                    <form (ngSubmit)="onCreate()">
                        <div class="form-group">
                            <label>Nombre del Proyecto</label>
                            <input type="text" class="form-control" id="nombreproyecto"
                                [(ngModel)]="proyecto.nombreproyecto" name="nombreproyecto" required>
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <input type="text" class="form-control" id="descripcionproyecto"
                                [(ngModel)]="proyecto.descripcionproyecto" name="descripcionproyecto" required>
                        </div>
                        <div class="form-group">
                            <label>Portada del Proyecto (agregar en formato URL)</label>
                            <input type="text" class="form-control" id="imgproyecto" [(ngModel)]="proyecto.imgproyecto"
                                name="imgproyecto" required>
                            <br>
                        </div>
                            <button class="btn btn-success">
                                Guardar cambios
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>