<div id= "clase1" class="row no-gutters ">
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div *ngIf="userLogged |async as user">
            <a class="button" routerLink="/newexp">Agregar Experiencia</a>
        </div>
        <div>
            <ul>
                <br>
                <ng-container *ngFor="let Experiencia of experiencias">
                    <li>
                        <h2>{{Experiencia.empleo}}</h2>
                        <h4>({{Experiencia.anioinicio}} - {{Experiencia.aniofinal}})</h4>
                    </li>
                    <h4>{{Experiencia.cargo}}</h4>
                    <div *ngIf="userLogged |async as user">
                        <a class="btn bi-pencil-square" id="btn-edit-exp"  routerLink="/editar-experiencia/{{Experiencia.id}}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        
                        <button (click)="eliminar_experiencia(Experiencia.id)" class="btn btn-info">
                            X
                        </button>
                    </div>
                    <br>
                </ng-container>
            </ul>
        </div>
    </div>
</div>

