<div class="stick-top">
<div class="panel-body">
    <div class="col-md-6 offset-md-3">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <h1>Editar experiencia laboral</h1>
                <br>
                <br>
                <div>
                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="form-group">
                            <label for="empleo">Empresa</label>
                            <input type="text" class="form-control" id="empleo" name="empleo"
                                [(ngModel)]="editExp.empleo" required>
                        </div>
                        <div class="form-group">
                            <label for="anioinicio">Año inicial</label>
                            <input type="text" class="form-control" id="anioinicio" name="anioinicio"
                                [(ngModel)]="editExp.anioinicio" required>
                        </div>
                        <div class="form-group">
                            <label for="aniofinal">Año final</label>
                            <input type="text" class="form-control" id="aniofinal" name="aniofinal"
                                [(ngModel)]="editExp.aniofinal" required>
                        </div>
                        <div class="form-group">
                            <label for="cargo">Cargo</label>
                            <input type="text" class="form-control" id="cargo" name="cargo" [(ngModel)]="editExp.cargo"
                                required>
                            <br>
                        </div>
                        <button class="btn btn-primary">
                            Guardar cambios
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>