<div class="stick-top">
    <div class="panel-body">
        <div class="col-md-6 offset-md-3">
            <div class="container">
                <br>
                <br>
                <br>
                <div class="row">
                    <h1>Editar Educacion</h1>
                    <br>
                    <br>
                    <div>
                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                            <div class="form-group">
                                <label for="institucion">Institucion</label>
                                <input type="text" class="form-control" id="institucion" name="institucion"
                                    [(ngModel)]="editEdu.institucion" required>
                            </div>
                            <div class="form-group">
                                <label for="anioinicio">Año inicial</label>
                                <input type="text" class="form-control" id="anioinicio" name="anioinicio"
                                    [(ngModel)]="editEdu.anioinicio" required>
                            </div>
                            <div class="form-group">
                                <label for="aniofinal">Año final</label>
                                <input type="text" class="form-control" id="aniofinal" name="aniofinal"
                                    [(ngModel)]="editEdu.aniofinal" required>
                            </div>
                            <div class="form-group">
                                <label for="cargo">Titulo Obtenido</label>
                                <input type="text" class="form-control" id="tituloobtenido" name="tituloobtenido" [(ngModel)]="editEdu.tituloobtenido"
                                    required>
                                <br>
                            </div>
                            <button class="btn btn-primary">
                                Guardar cambios
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>