.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(163, 200, 255);
     }

h1{
    color: rgb(165, 157, 42);
    font-size: 30px;
    margin-top: 0.5em;
    
}
    
.redes{
    margin-right: 0.9em;
}
.redes img{
    margin: 0.4em;
}
#APlogo{
    width: 150px;
}
img{
    width: 40px;
}
.btn{
    border-radius: 2.25rem;
    margin: 2em;
}

/*---VISTA CELULAR---*/
@media (max-width: 575px){
    .container{
        flex-direction: column;
        }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.3em;
    }
    
}
