<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="APlogo">
        </div>
        <div class="redes">
            <div>
                <a href="https://m.facebook.com/hiram.reinoso"><img src="../../../assets/facebook.png" id="face"></a>
                <a href="https://www.instagram.com/hiram_rei/?hl=es-la"><img src="../../../assets/instagram.png" id="insta"></a>
                <a href="https://github.com/hirrei86/Portfolio-HR"><img src="../../../assets/github.png" id="git"></a>
            </div>
        </div>
            <div *ngIf="userLogged|async as user; else LoginButton">
        </div>
            <app-navbar></app-navbar>
        </div>
    <ng-template #LoginButton>
        <h1>Para poder EDITAR este portfolio debes estar LOGUEADO!</h1>
    </ng-template>
</div>

