<nav class="navbar navbar-light bg-light " style="padding: 0 1rem; box-shadow:  0 0 0px 0px rgb(0, 0, 0)">
    <a class="navbar-brand" href="#" style="display: flex; align-items: center;"></a>


    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else LoginButton">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            {{user.email}}
        </button>
        <br>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="btn btn-dark" ngbDropdownItem routerLink="/login" (click)="logOut()">Salir</button>
        </div>
    </div>

    <ng-template #LoginButton>
        <button class="btn btn-primary" routerLink="/login"> Ingresar</button>
    </ng-template>
</nav>