<div class="panel-body">
  <div class="container" *ngFor="let Persona of personas">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="image" [src]="Persona.imgperfil" id="fotoperfil" class="img-fluid">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">{{Persona.nombre}} {{Persona.apellido}}</h1>
        <p>Full Stack developer Jr. </p>

        <div>
          <div *ngIf="userLogged |async as user">
            <a class="btn bi-pencil-square" id="btn-edit-exp" routerLink="/editar-acerca-de/{{Persona.id}}">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
          <h1>Acerca de mi</h1>
          <p id="acercaDe">{{Persona.acercaDe}}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>